<!DOCTYPE html>
<html>
<head>
    <title>Diabetes Prediction</title>
</head>
<body>
    <h2>Diabetes Prediction Form</h2>
    <form action="/predict" method="post">
        <input type="number" name="Pregnancies" placeholder="Pregnancies"><br>
        <input type="number" name="Glucose" placeholder="Glucose"><br>
        <input type="number" name="BloodPressure" placeholder="Blood Pressure"><br>
        <input type="number" name="SkinThickness" placeholder="Skin Thickness"><br>
        <input type="number" name="Insulin" placeholder="Insulin"><br>
        <input type="number" name="BMI" placeholder="BMI"><br>
        <input type="number" name="DiabetesPedigreeFunction" placeholder="DPF"><br>
        <input type="number" name="Age" placeholder="Age"><br><br>
        <button type="submit">Predict</button>
    </form>
</body>
</html>